In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [2]:
#pip install xlrd>=2.0.1
#!pip install openpyxl

In [3]:
df = pd.read_excel('./DataSet/arriving citizens by the purpose of visit and by the way of entrance (resident citizens inside turke.xls')

In [4]:
df.head(20)

,Yıl - Year,Çeyrek Quarter,Total,"Travel, entertainment, sportive or cultural activities",Visiting relatives and friends,"Education, training (less than a year)",Health or medical reasons (less than a year),Dini / Hac\n Religion / Pilgrimage,Alışveriş\n Shopping,"İş amaçlı (konferans, toplantı, görev vb.) \nBusiness (conferences, meetings, assignments etc.)",Diğer \nOther,Beraberinde giden \nAccompanying persons
0,2004,Yıllık - Annual,3844496,645213,817897,120776,61842,-,140824,1358125,516192,183627
1,2004,I,680145,61379,139727,43503,9915,-,14074,311861,76880,22806
2,2004,II,1070768,205186,174414,30833,16254,-,51630,416680,140920,34851
3,2004,III,1022444,215090,275979,32496,10951,-,47834,264486,65122,110486
4,2004,IV,1071139,163558,227777,13944,24722,-,27286,365098,233270,15484
5,2005,Yıllık - Annual,4124826,647122,954228,79651,47926,-,101387,1206157,937428,150927
6,2005,I,889001,124253,188104,12411,15054,-,43910,267605,216220,21444
7,2005,II,1158991,189914,323047,13971,8692,-,29161,304616,267555,22035
8,2005,III,1044979,220249,232357,20460,10248,-,19784,243121,205520,93240
9,2005,IV,1031855,112706,210720,32809,13932,-,8532,390815,248133,14208
10,2006,Yıllık - Annual,4063180,632848,933982,124828,41396,-,51446,1155906,957712,165062
11,2006,I,905009,99509,169165,40327,8380,-,17807,253487,301146,15188
12,2006,II,1170446,152060,239948,26506,10695,-,18601,418980,278080,25576
13,2006,III,1160727,266347,333438,37329,13620,-,7062,197742,202282,102907
14,2006,IV,826998,114932,191431,20666,8701,-,7976,285697,176204,21391
15,2007,Yıllık - Annual,4956067,1152180,1116948,161040,18504,-,61295,1594451,566503,285146
16,2007,I,1174234,252257,279462,27204,4946,-,4452,338322,160258,107333
17,2007,II,1355930,364797,326462,58738,4946,-,22877,406223,131698,40189
18,2007,III,1136653,290647,239672,35772,4024,-,4471,374712,63495,123860
19,2007,IV,1289250,244479,271352,39326,4588,-,29495,475194,211052,13764

In [5]:
df.columns = ['Year', 'Quarter', 'Total', 'Travel, entertainment, sportive or cultural activities', 'Visiting relatives and friends', 'Education, training (less than a year)', 'Health or medical reasons (less than a year)', 'Religion / Pilgrimage', 'Shopping', 'Business Travel','Other','Accompanying persons']

In [6]:
df

,Year,Quarter,Total,"Travel, entertainment, sportive or cultural activities",Visiting relatives and friends,"Education, training (less than a year)",Health or medical reasons (less than a year),Religion / Pilgrimage,Shopping,Business Travel,Other,Accompanying persons
0,2004,Yıllık - Annual,3844496,645213,817897,120776,61842,-,140824,1358125,516192,183627
1,2004,I,680145,61379,139727,43503,9915,-,14074,311861,76880,22806
2,2004,II,1070768,205186,174414,30833,16254,-,51630,416680,140920,34851
3,2004,III,1022444,215090,275979,32496,10951,-,47834,264486,65122,110486
4,2004,IV,1071139,163558,227777,13944,24722,-,27286,365098,233270,15484
...,...,...,...,...,...,...,...,...,...,...,...,...
94,2022,IV,2488855.0344,831202.0846,567506.3204,22417.0896,1769.7702,71609.7814,146301.0057,599362.1846,137452.1545,111234.6434
95,2023,Yıllık - Annual,7925096.7299,2928436.9592,1735343.9293,117798.551,10481.8202,352955.6818,304699.0604,1583710.1306,446783.4873,444887.1101
96,2023,I,2069228.6428,575590.848,477945.972,34689.627,2569.602,183386.2841,78372.861,472164.3675,165739.329,78769.7522
97,2023,II,2877449.951,1010292.1608,614427.8425,54802.0636,3868.381,50952.9294,127656.5717,691795.4617,160537.8098,163116.7305
98,2023,III,2978418.1361,1342553.9504,642970.1148,28306.8604,4043.8372,118616.4683,98669.6277,419750.3014,120506.3485,203000.6274

In [7]:
#replace 'Yıllık - Annual'  to 'Annual' in quarter column
df['Quarter'] = df['Quarter'].replace('Yıllık - Annual', 'Annual')

In [8]:
df.head(20)

,Year,Quarter,Total,"Travel, entertainment, sportive or cultural activities",Visiting relatives and friends,"Education, training (less than a year)",Health or medical reasons (less than a year),Religion / Pilgrimage,Shopping,Business Travel,Other,Accompanying persons
0,2004,Annual,3844496,645213,817897,120776,61842,-,140824,1358125,516192,183627
1,2004,I,680145,61379,139727,43503,9915,-,14074,311861,76880,22806
2,2004,II,1070768,205186,174414,30833,16254,-,51630,416680,140920,34851
3,2004,III,1022444,215090,275979,32496,10951,-,47834,264486,65122,110486
4,2004,IV,1071139,163558,227777,13944,24722,-,27286,365098,233270,15484
5,2005,Annual,4124826,647122,954228,79651,47926,-,101387,1206157,937428,150927
6,2005,I,889001,124253,188104,12411,15054,-,43910,267605,216220,21444
7,2005,II,1158991,189914,323047,13971,8692,-,29161,304616,267555,22035
8,2005,III,1044979,220249,232357,20460,10248,-,19784,243121,205520,93240
9,2005,IV,1031855,112706,210720,32809,13932,-,8532,390815,248133,14208
10,2006,Annual,4063180,632848,933982,124828,41396,-,51446,1155906,957712,165062
11,2006,I,905009,99509,169165,40327,8380,-,17807,253487,301146,15188
12,2006,II,1170446,152060,239948,26506,10695,-,18601,418980,278080,25576
13,2006,III,1160727,266347,333438,37329,13620,-,7062,197742,202282,102907
14,2006,IV,826998,114932,191431,20666,8701,-,7976,285697,176204,21391
15,2007,Annual,4956067,1152180,1116948,161040,18504,-,61295,1594451,566503,285146
16,2007,I,1174234,252257,279462,27204,4946,-,4452,338322,160258,107333
17,2007,II,1355930,364797,326462,58738,4946,-,22877,406223,131698,40189
18,2007,III,1136653,290647,239672,35772,4024,-,4471,374712,63495,123860
19,2007,IV,1289250,244479,271352,39326,4588,-,29495,475194,211052,13764

In [9]:
#keep values having "Annual" in Quarter column and remove others
df = df[df['Quarter'] == 'Annual']

In [10]:
df.head(20)

,Year,Quarter,Total,"Travel, entertainment, sportive or cultural activities",Visiting relatives and friends,"Education, training (less than a year)",Health or medical reasons (less than a year),Religion / Pilgrimage,Shopping,Business Travel,Other,Accompanying persons
0,2004,Annual,3844496,645213,817897,120776,61842,-,140824,1358125,516192,183627
5,2005,Annual,4124826,647122,954228,79651,47926,-,101387,1206157,937428,150927
10,2006,Annual,4063180,632848,933982,124828,41396,-,51446,1155906,957712,165062
15,2007,Annual,4956067,1152180,1116948,161040,18504,-,61295,1594451,566503,285146
20,2008,Annual,4892716,1060753,1206083,177477,20057,-,73600,1442816,616681,295249
25,2009,Annual,5561357,993818,1494840,166417,30852,-,125946,1750807,764146,234531
30,2010,Annual,6557235,1447628,1760992,240739,20643,-,249406,1822662,730938,284227
35,2011,Annual,6281971,1381061,1458442,146110,12699,-,180366,1850979,896630,355684
40,2012,Annual,5802950,1605698,1202376,133541,22531,69131,145747,1779559,573294,271073
45,2013,Annual,7525869.2658,2647862.1611,1376450.3672,132895.4847,14815.7383,424953.4995,68455.2087,1573856.4101,786536.629,500043.7674
50,2014,Annual,7982263.5266,2898572.2576,1512529.5921,111624.9927,11112.6147,430797.8068,52043.3297,2210090.7177,284682.5971,470809.6181
55,2015,Annual,8750851.3211,3524114.8031,1706403.6584,137193.7116,12504.4159,409345.0542,60716.7145,1938323.1374,454295.6653,507954.1607
60,2016,Annual,7891908.9376,3645957.2287,1510867.3613,137973.5694,9296.519,442991.1179,72800.8739,1427103.6439,203637.3912,441281.2323
65,2017,Annual,8886916.4493,3960799.5247,1898320.6292,77316.3681,9880.5253,488104.2702,30996.1249,1563614.2869,255044.09,602840.6301
70,2018,Annual,8383432.3015,3410791.1609,1811529.3105,106241.9167,13685.4059,563453.0668,78306.5632,1689389.056,198860.7386,511175.083
75,2019,Annual,9650512.2894,3838432.9671,2215159.5155,108501.0656,14160.1765,377176.8146,82801.5676,2039225.7813,409747.7387,565306.6628
85,2021,Annual,2738339.5611,720113.1184,772721.6568,30422.5623,6628.5799,581.3533,21468.9106,666048.9724,388618.6025,131735.8049
90,2022,Annual,7266772.833,2514915.6081,1734187.4219,113113.0799,9364.5466,117204.493,358921.1268,1557050.7146,468855.1001,393160.742
95,2023,Annual,7925096.7299,2928436.9592,1735343.9293,117798.551,10481.8202,352955.6818,304699.0604,1583710.1306,446783.4873,444887.1101

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 95
Data columns (total 12 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Year                                                    19 non-null     int64
 1   Quarter                                                 19 non-null     object
 2   Total                                                   19 non-null     object
 3   Travel, entertainment, sportive or cultural activities  19 non-null     object
 4   Visiting relatives and friends                          19 non-null     object
 5   Education, training (less than a year)                  19 non-null     object
 6   Health or medical reasons (less than a year)            19 non-null     object
 7   Religion / Pilgrimage                                   19 non-null     object
 8   Shopping                                                19 non-null     object
 9   Business Travel                                         19 non-null     object
 10  Other                                                   19 non-null     object
 11  Accompanying persons                                    19 non-null     object
dtypes: int64(1), object(11)
memory usage: 1.9+ KB

In [12]:
#type cast Total to int
df['Total'] = df['Total'].astype(int)

C:\Users\huzai\AppData\Local\Temp\ipykernel_1296\1423837368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total'] = df['Total'].astype(int)

In [13]:
df

,Year,Quarter,Total,"Travel, entertainment, sportive or cultural activities",Visiting relatives and friends,"Education, training (less than a year)",Health or medical reasons (less than a year),Religion / Pilgrimage,Shopping,Business Travel,Other,Accompanying persons
0,2004,Annual,3844496,645213,817897,120776,61842,-,140824,1358125,516192,183627
5,2005,Annual,4124826,647122,954228,79651,47926,-,101387,1206157,937428,150927
10,2006,Annual,4063180,632848,933982,124828,41396,-,51446,1155906,957712,165062
15,2007,Annual,4956067,1152180,1116948,161040,18504,-,61295,1594451,566503,285146
20,2008,Annual,4892716,1060753,1206083,177477,20057,-,73600,1442816,616681,295249
25,2009,Annual,5561357,993818,1494840,166417,30852,-,125946,1750807,764146,234531
30,2010,Annual,6557235,1447628,1760992,240739,20643,-,249406,1822662,730938,284227
35,2011,Annual,6281971,1381061,1458442,146110,12699,-,180366,1850979,896630,355684
40,2012,Annual,5802950,1605698,1202376,133541,22531,69131,145747,1779559,573294,271073
45,2013,Annual,7525869,2647862.1611,1376450.3672,132895.4847,14815.7383,424953.4995,68455.2087,1573856.4101,786536.629,500043.7674
50,2014,Annual,7982263,2898572.2576,1512529.5921,111624.9927,11112.6147,430797.8068,52043.3297,2210090.7177,284682.5971,470809.6181
55,2015,Annual,8750851,3524114.8031,1706403.6584,137193.7116,12504.4159,409345.0542,60716.7145,1938323.1374,454295.6653,507954.1607
60,2016,Annual,7891908,3645957.2287,1510867.3613,137973.5694,9296.519,442991.1179,72800.8739,1427103.6439,203637.3912,441281.2323
65,2017,Annual,8886916,3960799.5247,1898320.6292,77316.3681,9880.5253,488104.2702,30996.1249,1563614.2869,255044.09,602840.6301
70,2018,Annual,8383432,3410791.1609,1811529.3105,106241.9167,13685.4059,563453.0668,78306.5632,1689389.056,198860.7386,511175.083
75,2019,Annual,9650512,3838432.9671,2215159.5155,108501.0656,14160.1765,377176.8146,82801.5676,2039225.7813,409747.7387,565306.6628
85,2021,Annual,2738339,720113.1184,772721.6568,30422.5623,6628.5799,581.3533,21468.9106,666048.9724,388618.6025,131735.8049
90,2022,Annual,7266772,2514915.6081,1734187.4219,113113.0799,9364.5466,117204.493,358921.1268,1557050.7146,468855.1001,393160.742
95,2023,Annual,7925096,2928436.9592,1735343.9293,117798.551,10481.8202,352955.6818,304699.0604,1583710.1306,446783.4873,444887.1101

In [14]:
df2= pd.read_csv('./Cleaned DataSet/tourism expenditure and other expenses (resident citizens inside turkey).csv')

In [15]:
df2.head(20)

,Year,Quarter,\nTourism Expenditure(K$),Average expenditure per capita($)
0,2004.0,Annual,2.954459e+06,768.491001
1,2005.0,Annual,3.394601e+06,822.967755
2,2006.0,Annual,3.270948e+06,805.021596
3,2007.0,Annual,4.043283e+06,815.824600
4,2008.0,Annual,4.266197e+06,871.948704
5,2009.0,Annual,5.090440e+06,915.324086
6,2010.0,Annual,5.874520e+06,895.884082
7,2011.0,Annual,5.531486e+06,880.533290
8,2012.0,Annual,4.593389e+06,791.561166
9,2013.0,Annual,5.253565e+06,698.000000
10,2014.0,Annual,5.470481e+06,685.329501
11,2015.0,Annual,5.698423e+06,651.185010
12,2016.0,Annual,5.049793e+06,639.869673
13,2017.0,Annual,5.137244e+06,578.000000
14,2018.0,Annual,4.896310e+06,584.046006
15,2019.0,Annual,4.403670e+06,456.314598
16,2021.0,Annual,1.851922e+06,676.293693
17,2022.0,Annual,4.276533e+06,588.505050
18,2023.0,Annual,1.447471e+06,581.581001

In [16]:
df2.columns

Index(['Year', ' Quarter', '\nTourism Expenditure(K$)',
       'Average expenditure per capita($)'],
      dtype='object')

In [18]:
#merge both df and df2 on Year column
df3 = pd.merge(df, df2, on='Year')

In [19]:
df3.head(20)

,Year,Quarter,Total,"Travel, entertainment, sportive or cultural activities",Visiting relatives and friends,"Education, training (less than a year)",Health or medical reasons (less than a year),Religion / Pilgrimage,Shopping,Business Travel,Other,Accompanying persons,Quarter,\nTourism Expenditure(K$),Average expenditure per capita($)
0,2004,Annual,3844496,645213,817897,120776,61842,-,140824,1358125,516192,183627,Annual,2.954459e+06,768.491001
1,2005,Annual,4124826,647122,954228,79651,47926,-,101387,1206157,937428,150927,Annual,3.394601e+06,822.967755
2,2006,Annual,4063180,632848,933982,124828,41396,-,51446,1155906,957712,165062,Annual,3.270948e+06,805.021596
3,2007,Annual,4956067,1152180,1116948,161040,18504,-,61295,1594451,566503,285146,Annual,4.043283e+06,815.824600
4,2008,Annual,4892716,1060753,1206083,177477,20057,-,73600,1442816,616681,295249,Annual,4.266197e+06,871.948704
5,2009,Annual,5561357,993818,1494840,166417,30852,-,125946,1750807,764146,234531,Annual,5.090440e+06,915.324086
6,2010,Annual,6557235,1447628,1760992,240739,20643,-,249406,1822662,730938,284227,Annual,5.874520e+06,895.884082
7,2011,Annual,6281971,1381061,1458442,146110,12699,-,180366,1850979,896630,355684,Annual,5.531486e+06,880.533290
8,2012,Annual,5802950,1605698,1202376,133541,22531,69131,145747,1779559,573294,271073,Annual,4.593389e+06,791.561166
9,2013,Annual,7525869,2647862.1611,1376450.3672,132895.4847,14815.7383,424953.4995,68455.2087,1573856.4101,786536.629,500043.7674,Annual,5.253565e+06,698.000000
10,2014,Annual,7982263,2898572.2576,1512529.5921,111624.9927,11112.6147,430797.8068,52043.3297,2210090.7177,284682.5971,470809.6181,Annual,5.470481e+06,685.329501
11,2015,Annual,8750851,3524114.8031,1706403.6584,137193.7116,12504.4159,409345.0542,60716.7145,1938323.1374,454295.6653,507954.1607,Annual,5.698423e+06,651.185010
12,2016,Annual,7891908,3645957.2287,1510867.3613,137973.5694,9296.519,442991.1179,72800.8739,1427103.6439,203637.3912,441281.2323,Annual,5.049793e+06,639.869673
13,2017,Annual,8886916,3960799.5247,1898320.6292,77316.3681,9880.5253,488104.2702,30996.1249,1563614.2869,255044.09,602840.6301,Annual,5.137244e+06,578.000000
14,2018,Annual,8383432,3410791.1609,1811529.3105,106241.9167,13685.4059,563453.0668,78306.5632,1689389.056,198860.7386,511175.083,Annual,4.896310e+06,584.046006
15,2019,Annual,9650512,3838432.9671,2215159.5155,108501.0656,14160.1765,377176.8146,82801.5676,2039225.7813,409747.7387,565306.6628,Annual,4.403670e+06,456.314598
16,2021,Annual,2738339,720113.1184,772721.6568,30422.5623,6628.5799,581.3533,21468.9106,666048.9724,388618.6025,131735.8049,Annual,1.851922e+06,676.293693
17,2022,Annual,7266772,2514915.6081,1734187.4219,113113.0799,9364.5466,117204.493,358921.1268,1557050.7146,468855.1001,393160.742,Annual,4.276533e+06,588.505050
18,2023,Annual,7925096,2928436.9592,1735343.9293,117798.551,10481.8202,352955.6818,304699.0604,1583710.1306,446783.4873,444887.1101,Annual,1.447471e+06,581.581001

In [20]:
#drop quater
df3.drop('Quarter', axis=1, inplace=True)

In [21]:
df3.head(20)

,Year,Total,"Travel, entertainment, sportive or cultural activities",Visiting relatives and friends,"Education, training (less than a year)",Health or medical reasons (less than a year),Religion / Pilgrimage,Shopping,Business Travel,Other,Accompanying persons,Quarter,\nTourism Expenditure(K$),Average expenditure per capita($)
0,2004,3844496,645213,817897,120776,61842,-,140824,1358125,516192,183627,Annual,2.954459e+06,768.491001
1,2005,4124826,647122,954228,79651,47926,-,101387,1206157,937428,150927,Annual,3.394601e+06,822.967755
2,2006,4063180,632848,933982,124828,41396,-,51446,1155906,957712,165062,Annual,3.270948e+06,805.021596
3,2007,4956067,1152180,1116948,161040,18504,-,61295,1594451,566503,285146,Annual,4.043283e+06,815.824600
4,2008,4892716,1060753,1206083,177477,20057,-,73600,1442816,616681,295249,Annual,4.266197e+06,871.948704
5,2009,5561357,993818,1494840,166417,30852,-,125946,1750807,764146,234531,Annual,5.090440e+06,915.324086
6,2010,6557235,1447628,1760992,240739,20643,-,249406,1822662,730938,284227,Annual,5.874520e+06,895.884082
7,2011,6281971,1381061,1458442,146110,12699,-,180366,1850979,896630,355684,Annual,5.531486e+06,880.533290
8,2012,5802950,1605698,1202376,133541,22531,69131,145747,1779559,573294,271073,Annual,4.593389e+06,791.561166
9,2013,7525869,2647862.1611,1376450.3672,132895.4847,14815.7383,424953.4995,68455.2087,1573856.4101,786536.629,500043.7674,Annual,5.253565e+06,698.000000
10,2014,7982263,2898572.2576,1512529.5921,111624.9927,11112.6147,430797.8068,52043.3297,2210090.7177,284682.5971,470809.6181,Annual,5.470481e+06,685.329501
11,2015,8750851,3524114.8031,1706403.6584,137193.7116,12504.4159,409345.0542,60716.7145,1938323.1374,454295.6653,507954.1607,Annual,5.698423e+06,651.185010
12,2016,7891908,3645957.2287,1510867.3613,137973.5694,9296.519,442991.1179,72800.8739,1427103.6439,203637.3912,441281.2323,Annual,5.049793e+06,639.869673
13,2017,8886916,3960799.5247,1898320.6292,77316.3681,9880.5253,488104.2702,30996.1249,1563614.2869,255044.09,602840.6301,Annual,5.137244e+06,578.000000
14,2018,8383432,3410791.1609,1811529.3105,106241.9167,13685.4059,563453.0668,78306.5632,1689389.056,198860.7386,511175.083,Annual,4.896310e+06,584.046006
15,2019,9650512,3838432.9671,2215159.5155,108501.0656,14160.1765,377176.8146,82801.5676,2039225.7813,409747.7387,565306.6628,Annual,4.403670e+06,456.314598
16,2021,2738339,720113.1184,772721.6568,30422.5623,6628.5799,581.3533,21468.9106,666048.9724,388618.6025,131735.8049,Annual,1.851922e+06,676.293693
17,2022,7266772,2514915.6081,1734187.4219,113113.0799,9364.5466,117204.493,358921.1268,1557050.7146,468855.1001,393160.742,Annual,4.276533e+06,588.505050
18,2023,7925096,2928436.9592,1735343.9293,117798.551,10481.8202,352955.6818,304699.0604,1583710.1306,446783.4873,444887.1101,Annual,1.447471e+06,581.581001

In [22]:
#save the data to csv file
df.to_csv('./Cleaned DataSet/ariving citezens with expenditure.csv', index=False)