In [2]:
import pandas as pd 
import numpy as np
import os

In [5]:
#pip install xlrd>=2.0.1
#!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 1.3 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [7]:
house_sales_by_district_df = pd.read_excel("./DataSet/house sales by districts.xls.xlsx")

In [8]:
house_sales_by_district_df

,Yıl\nYear,İl\nProvince,İlçe\nDistricts,Toplam\nTotal,Unnamed: 4,İpotekli satış(2)\nMortgaged sale(2),Diğer satış(3)\nOther sale(3),Unnamed: 7,\nİlk el satış(4)\nFirst hand sale(4),\nİkinci el satış(5)\nSecond hand sale(5)
0,2015.0,Adana,Ceyhan,1569,NaN,556,1013,NaN,801,768
1,NaN,Adana,Çukurova,7083,NaN,3061,4022,NaN,2028,5055
2,NaN,Adana,İmamoğlu,90,NaN,35,55,NaN,58,32
3,NaN,Adana,Karataş,543,NaN,132,411,NaN,225,318
4,NaN,Adana,Kozan,1002,NaN,347,655,NaN,501,501
...,...,...,...,...,...,...,...,...,...,...
4544,NaN,Zonguldak,Devrek,755,NaN,112,643,NaN,181,574
4545,NaN,Zonguldak,Ereğli,1858,NaN,523,1335,NaN,488,1370
4546,NaN,Zonguldak,Gökçebey,22,NaN,3,19,NaN,2,20
4547,NaN,Zonguldak,Kozlu,1121,NaN,342,779,NaN,452,669
4548,NaN,Zonguldak,Merkez,1424,NaN,478,946,NaN,427,997